asgiref==3.7.2
cairocffi==1.6.1
cffi==1.15.1
colorama==0.4.6
colour==0.1.5
commonmark==0.9.1
Django==4.1.11
manimce==0.1.1.post2
manimlib==0.2.0
numpy==1.26.0
opencv-python==4.8.1.78
pangocairocffi==0.4.0
pangocffi==0.8.0
Pillow==10.0.1
progressbar==2.5
pycairo==1.25.0
pycparser==2.21
pydub==0.25.1
Pygments==2.16.1
rich==6.2.0
scipy==1.11.3
sqlparse==0.4.4
tqdm==4.66.1
typing-extensions==3.10.0.2
